html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /*   background-color: #0b1217;
  color: #f5f5f5; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* navbar */

.uk-navbar-item,
.uk-navbar-nav > li > a {
  font-weight: 700;
}
.uk-offcanvas-bar {
  /*   background: #f5f5f5; */
  /*   color: #2a2a2a; */
  color: #fff;
}
.uk-offcanvas-bar .uk-nav-primary > li > a,
.uk-offcanvas-bar .uk-nav-primary .uk-nav-sub a {
  color: #2a2a2a;
}

.uk-offcanvas-bar .uk-nav-primary .uk-nav-sub a:hover,
.uk-offcanvas-bar .uk-nav-primary > li > a:hover {
  color: #2a2a2a;
  opacity: 0.7;
}

.nav-logos {
  gap: 20px;
  align-items: flex-start;
}

.uk-navbar-item,
.uk-navbar-nav > li > a.active {
  color: #3a327e;
}

/* off canvas responsive menu bar */
.uk-offcanvas-bar {
  width: 96vw;
  top: 100px;
  padding-top: 80px;
}

.uk-offcanvas-close {
  top: 120px;
  right: 60px;
}
.uk-nav-parent-icon > .uk-parent > a::after {
  content: "";
  width: 1.5em;
  height: 1.5em;
  margin-left: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23666%22%20stroke-width%3D%221.1%22%20points%3D%2210%201%204%207%2010%2013%22%20%2F%3E%0A%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
