html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* HERO */

.hero-wrapper {
}

.hero_1 {
}

.hero_subtitle {
  font-size: 28px;
}
/*  overrading uk kenburns effect */

.uk-animation-kenburns {
  animation-duration: 15s infinite;
}

@keyframes uk-kenburns {
  0% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1.6);
  }
}

/* navbar */

.uk-navbar-item,
.uk-navbar-nav > li > a {
  font-weight: 700;
  color: #002a74;
}

.nav-link {
  color: #002a74;
}
.nav-link:hover {
  color: #666;
  text-decoration: none;
}

.uk-navbar-dropdown-nav > li > a {
  color: #002a74;
}
.uk-navbar-dropdown-nav > li > a {
  color: #002a74;
}
/* .uk-offcanvas-bar {
  color: #f2f2f2;
 background-color: #002a74; 
} */
.offcanvas-nav {
  color: #2a2a2a;
  background-color: rgb(241, 241, 241);
}

.uk-offcanvas-bar .uk-nav-primary > li > a,
.uk-offcanvas-bar .uk-nav-primary .uk-nav-sub a {
  color: #2a2a2a;
}

.uk-offcanvas-bar .uk-nav-primary .uk-nav-sub a:hover,
.uk-offcanvas-bar .uk-nav-primary > li > a:hover {
  color: #002a74;
  opacity: 0.7;
}

.nav-logos {
  gap: 20px;
  align-items: flex-start;
}

.uk-navbar-item,
.uk-navbar-nav > li > a.active {
  color: #737475;
}

/* off canvas responsive menu bar */
.uk-offcanvas-bar {
  width: 100vw;
}
.uk-offcanvas-bar > ul > li {
  margin-top: 60px;
  padding: 15px 0;
}

.responsive-link-font {
  font-size: 22px;
  padding: 20px 20px 20px 0;
}
.responsive-link-font:hover {
  opacity: 0.7;
}

.menu-logo-container {
  width: 20%;
}
/* font color menu responsive bar */
.uk-offcanvas-bar a {
  color: #002a74;
}
.uk-offcanvas-bar a:hover {
  color: #9e3030;
  opacity: 0.7;
  text-decoration: none;
}

.uk-offcanvas-bar .uk-nav-primary > li > a {
  color: #002a74;

  border-bottom: 1px solid #3a327e;
}
.uk-parent > a::after {
  background-color: #39f;
  border-radius: 50%;
  font-size: 14px;
}

/* close button off canvas */
.uk-offcanvas-bar .uk-close {
  color: #2a2a2a;
}
.uk-offcanvas-bar .uk-close::selection {
  color: #2a2a2a;
}

.uk-card {
  box-shadow: none;
}

/* ACTION BUTTON */

.action-button {
  background-color: #002a74;
  color: #f2f2f2;
}

.action-text {
  color: #002a74;
}

/* BANNER */
.banner-titles {
  color: #f2f2f2;
}
/*  BREADCUMB */
.uk-breadcrumb > :last-child > a:not([href]),
.uk-breadcrumb > :last-child > span,
.uk-breadcrumb > * > * {
  color: #2a2a2a;
  font-weight: 500;
}

.uk-breadcrumb * {
  justify-content: center;
}
.uk-heading-medium {
  justify-content: space-around;
  line-height: 1.8;
}

.uk-breadcrumb > :nth-child(n + 2):not(.uk-first-column)::before {
  color: #2a2a2a;
  font-weight: 300;
}

/* MEMBER CARD */
.member-card {
  cursor: pointer;
}

/* NEWS SIDEBAR COMPONENT */

.offcanvas-News {
  background-color: #f2f2f2;
  color: #002a74;
  width: 26vw;
  top: 100px;
  padding-top: 80px;
}

.offcanvas-News > button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* switcher border (yachtmaster section */
.uk-tab-left > * > a {
  border-right: 4px solid transparent;
}

@media only screen and (max-width: 600px) {
  .offcanvas-News {
    width: 100vw;
  }
}

h2,
h3 {
  color: #002a74;
}

p > strong {
  color: #465e88;
}

/* news Sidebar */
.news_sidebar_wrapper {
  background-color: #002a74;
}
.news_sidebar {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #002a74;
  height: 40px;
  animation: 2s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
  gap: 20px;
  z-index: 99;
}

.news_sidebar > span {
  cursor: pointer;
}
.news_sidebar > li {
  cursor: pointer;
}
.news_sidebar > a:hover {
  opacity: 0.8;
}
@media only screen and (max-width: 1060px) {
  .news_sidebar {
    gap: 10px;
  }
}
@media only screen and (max-width: 960px) {
  .news_sidebar {
    flex-direction: column;
    transition: 1s smooth;
    overflow: hidden;
  }

  .news_sidebar:hover,
  .news_sidebar:active {
    z-index: 999;
    height: auto;
    padding-bottom: 10px;
  }
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

/* RYA PROGRESSION BUTTON */

.progresion_wrapper {
  gap: 30px;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .progresion_wrapper {
    gap: 3px;
  }
}
.progression_button {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 15px;
  color: #fff;
  text-align: center;
  background: #ccc;
}
.progression_button > p {
  margin: 0;
}
p {
  margin: 0;
}
.progression_button_active {
  background: #002a74;
}

.arrow-right:after {
  content: "";
  display: inline-block !important;
  width: 0;
  height: 0;
  border-left: 4px solid #002a74;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  vertical-align: middle;
}

.arrow-right:before {
  width: 10px;
  height: 2px;
  background: #002a74;
  content: "";
  display: inline-block;
  vertical-align: middle;
}

.cursor-pointer {
  cursor: pointer;
}

/*  ABOUT PAGE */
.about-banner-two {
  height: 80vh;
}

.rya-letter {
  color: #cb0447;
}

.about-team-image {
  height: 800px;
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.about-club-image {
  height: 800px;
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
}
