@import url("http://fonts.cdnfonts.com/css/futura-md-bt");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.error_text {
  font-family: "Futura Md BT", sans-serif;
  font-weight: 800;
}

/* HERO */

.hero-title {
  font-family: "Futura Md BT", sans-serif;
  font-weight: 200;
}
.hero-action {
  background-color: #072251;
  border-radius: 15px;
  -webkit-box-shadow: 1px 7px 18px -5px rgba(255, 255, 255, 0.72);
  box-shadow: 1px 7px 18px -5px rgba(255, 255, 255, 0.72);
  font-size: 20px;
  color: #fff;
  border: none;
  transition: 0.3s;
}

.has-text-primary {
  font-family: "Futura Md BT", sans-serif;
}

.hero-action:hover {
  background-color: #fff;
  color: #072251;
  border: 2px solid #072251;
}
.hero_image_wrapper .uk-cover {
  transform: translate(-50%, -35%);
}

@media only screen and (max-width: 900px) {
  .hero_image_wrapper .uk-cover {
    transform: translate(-25%, -33%);
  }
}

/*  overrading uk kenburns effect */

.uk-animation-kenburns {
  animation-duration: 10s infinite;
}

@keyframes uk-kenburns {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.3);
  }
}

/* section courses banner front */

.uk-card .text-primary-blue {
  color: #012f87;
  font-family: "Futura Md BT", sans-serif;
  font-weight: 200;
}

.uk-card .text-primary-white {
  color: #f5f5f5;
  font-family: "Futura Md BT", sans-serif;
  font-weight: 200;
}

.uk-card .text-secondary-blue-light {
  color: #1975cd;
  cursor: pointer;
}
.uk-card .text-secondary-blue-light:hover {
  opacity: 0.7;
}
.uk-card .text-secondary-white {
  color: #f5f5f5;
  cursor: pointer;
}
.uk-card .text-secondary-white:hover {
  opacity: 0.7;
}

.section_banner {
  background-color: #3b5075;
}
.uk-card-default .uk-card-header {
  border-bottom: none;
}

.uk-card ul li {
  position: relative;
  padding-bottom: 10px;
}

.uk-card ul {
  list-style: none;
}

.uk-card ul li:before {
  content: "";
  position: absolute;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 10px;
  height: 10px;
  top: calc(50% - 4px);
  left: -20px;
  transform: translateY(-50%) rotate(-45deg);
}

/* navbar */

.uk-navbar-container {
  z-index: 99;
}

.main_navbar {
  max-width: 1400px;
  z-index: 99;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  transition: 2s;
}

.uk-navbar-item,
.uk-navbar-nav > li > a {
  color: #002a74;
  font-family: "Futura Md BT", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 700;
}

.nav-link {
  color: #002a74;
}
.nav-link:hover {
  color: #666;
  text-decoration: none;
}

.uk-navbar-dropdown-nav > li > a {
  color: #002a74;
}
.uk-navbar-dropdown-nav > li > a {
  color: #002a74;
}
/* .uk-offcanvas-bar {
  color: #f2f2f2;
 background-color: #002a74; 
} */
.offcanvas-nav {
  color: #2a2a2a;
  background-color: rgb(241, 241, 241);
}
.uk-position-absolute > .nav-link {
  font-family: "Futura Md BT", sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.uk-offcanvas-bar .uk-nav-primary > li > a,
.uk-offcanvas-bar .uk-nav-primary .uk-nav-sub a {
  color: #2a2a2a;
}

.uk-offcanvas-bar .uk-nav-primary .uk-nav-sub a:hover,
.uk-offcanvas-bar .uk-nav-primary > li > a:hover {
  color: #002a74;
  opacity: 0.7;
}

.nav-logos {
  gap: 20px;
  align-items: flex-start;
}

.uk-navbar-item,
.uk-navbar-nav > li > a.active {
  color: #737475;
}

/* off canvas responsive menu bar */
.uk-offcanvas-bar {
  width: 100vw;
}
.uk-offcanvas-bar > ul > li {
  margin-top: 60px;
  padding: 15px 0;
}

.responsive-link-font {
  padding: 20px 20px 20px 0;
}
.responsive-link-font:hover {
  opacity: 0.7;
}

.menu-logo-container {
  width: 20%;
}
/* font color menu responsive bar */
.uk-offcanvas-bar a {
  color: #002a74;
}
.uk-offcanvas-bar a:hover {
  color: #9e3030;
  opacity: 0.7;
  text-decoration: none;
}

.uk-offcanvas-bar .uk-nav-primary > li > a {
  color: #002a74;

  border-bottom: 1px solid #3a327e;
}

@media only screen and (max-width: 600px) {
  .uk-parent > a::after {
    background-color: #39f;
    border-radius: 50%;
    font-size: 14px;
  }
}

/* close button off canvas */
.uk-offcanvas-bar .uk-close {
  color: #2a2a2a;
}
.uk-offcanvas-bar .uk-close::selection {
  color: #2a2a2a;
}

.uk-card {
  box-shadow: none;
}

/* ACTION BUTTON */

.action-button {
  background-color: #002a74;
  color: #f2f2f2;
}

.action-text {
  color: #002a74;
}

/* BANNER */
.banner-titles {
  color: #f2f2f2;
}
/*  BREADCUMB */
.uk-breadcrumb > :last-child > a:not([href]),
.uk-breadcrumb > :last-child > span,
.uk-breadcrumb > * > * {
  color: #2a2a2a;
  font-weight: 500;
}

.uk-breadcrumb * {
  justify-content: center;
}
.uk-heading-medium {
  justify-content: space-around;
  line-height: 1.8;
}

.uk-breadcrumb > :nth-child(n + 2):not(.uk-first-column)::before {
  color: #2a2a2a;
  font-weight: 300;
}

/* MEMBER CARD */
.member-card {
  cursor: pointer;
}

/* switcher border (yachtmaster section */
.uk-tab-left > * > a {
  border-right: 4px solid transparent;
}

@media only screen and (max-width: 600px) {
  .offcanvas-News {
    width: 100vw;
  }
}

h2,
h3 {
  color: #002a74;
}

p > strong {
  color: #465e88;
}

/* news Sidebar/ banner */
.news_sidebar_wrapper {
  background: rgb(0, 42, 116);
  background: linear-gradient(
    436deg,
    rgba(0, 42, 116, 0.7922501764377626) 0%,
    rgba(70, 94, 136, 1) 100%
  );
}

.news_sidebar {
  display: flex;
  align-items: center;
  position: relative;
  height: 80px;
  gap: 20px;
}
.news-banner-title {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  font-weight: 700;
  padding: 3px 10px;
  color: #133f8b;
}

.news_sidebar > span {
  cursor: pointer;
}
.news_sidebar > li {
  cursor: pointer;
}
.news_sidebar > a:hover {
  opacity: 0.8;
}
@media only screen and (max-width: 1060px) {
  .news_sidebar {
    gap: 10px;
  }
}
@media only screen and (max-width: 960px) {
  .news_sidebar {
    flex-direction: column;
    transition: 1s smooth;
    overflow: hidden;
  }

  .news_sidebar:hover,
  .news_sidebar:active {
    z-index: 999;
    height: auto;
    padding-bottom: 10px;
  }
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

/* RYA PROGRESSION BUTTON */

.progresion_wrapper {
  gap: 30px;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}
.cursor-pointer:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 600px) {
  .progresion_wrapper {
    gap: 3px;
    display: flex;
    flex-direction: column;
  }

  .arrow-right {
    transform: rotate(90deg);
    margin-right: 30px;
  }
}
.progression_button {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 15px;
  color: #fff;
  text-align: center;
  background: #ccc;
}
.progression_button > p {
  margin: 0;
}
p {
  margin: 0;
}
.progression_button_active {
  background: #002a74;
}

.arrow-right:after {
  content: "";
  display: inline-block !important;
  width: 0;
  height: 0;
  border-left: 4px solid #002a74;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  vertical-align: middle;
  margin-bottom: 30px;
}

.arrow-right:before {
  width: 10px;
  height: 2px;
  background: #002a74;
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 30px;
}

.cursor-pointer {
  cursor: pointer;
}

/*  ABOUT PAGE */
.about-banner-two {
  height: 80vh;
}

.rya-letter {
  color: #cb0447;
}

.about-team-image {
  height: 800px;
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.about-club-image {
  height: 800px;
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
}

/* foote r*/

.footer_bg {
  background-color: #3b5075;
}
/* comments */

.comment_pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
